<template>
    <div>
        <button class="btn btn-primary buttonSpecs" v-html="this.answerProp" @click="returnAnswer()"></button>
    </div>
</template>

<script>
export default {
    name: "Answers",
    props : ["answerProp"],
    methods : {
        returnAnswer(){
            this.$emit('return-answer',this.answerProp)
        }
    }
}
</script>

<style scoped>

   

    .buttonSpecs{
        background-color: blue;
        width: 400px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

</style>