<template>
    <div>
        <div class="container"> 
            <div class="card">
                <div class="card-header headerSize">
                    <div class="row-sm-6">
                        <H3>Question</H3>
                     </div>
                    <div class="row-sm-6">
                        <H3 v-html="questionPassed.question"></H3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <Answers v-bind:answerProp="shuffleAnswers[0]" v-on:return-answer="getUserAnswerFromChild" />
                        </div>
                        <div class="col-sm-6">
                            <Answers v-bind:answerProp="shuffleAnswers[1]" v-on:return-answer="getUserAnswerFromChild" />
                        </div>
                    </div>

                    <div v-if="shuffleAnswers.length > 3" class="row">
                        <div class="col-sm-6">
                            <Answers v-bind:answerProp="shuffleAnswers[2]" v-on:return-answer="getUserAnswerFromChild" />
                        </div>
                        <div class="col-sm-6">
                            <Answers v-bind:answerProp="shuffleAnswers[3]" v-on:return-answer="getUserAnswerFromChild" />
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row-sm-6">
                        <H3>Points</H3>
                     </div>
                    <div class="row-sm-6">
                        <H3 v-html="this.score"></H3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import Answers from './Answers.vue'

export default {
    name : "Question",
    components : {
        Answers
    },
    data() {
        return{
        score : 0,
        isTrueOrFalseQuestion : false
        
        }
    },

    props : ["questionPassed"],

    methods: {

        shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                let temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
        },

        getUserAnswerFromChild(userPick) {
            let isAnswerCorrect = this.questionPassed.correct_answer == userPick;
            if(isAnswerCorrect){
                this.score += 10
            }

            this.$emit('return-result',isAnswerCorrect,userPick)
        },

        setNumberOfAnswers(){
            if(this.questionPassed.incorrect_answers.length > 1){
                this.isTrueOrFalseQuestion = false;
            }else{
                this.isTrueOrFalseQuestion = true;
            }
        }
    },
    computed: {

        shuffleAnswers : function(){
            
            
            const answersArray = this.questionPassed.incorrect_answers
            answersArray.push(this.questionPassed.correct_answer)
            this.shuffleArray(answersArray)
            return answersArray;
        },
    },
    created (){ 
        this.setNumberOfAnswers();

    }
}

</script>


<style scoped>

    .headerSize{
        height: 140px;
    }


</style>