<template>
  <div id="app">
    <button
      class="btn btn-primary buttonSpecs"
      v-if="!start_game"
      @click="startGame()"
    >
      Start Trivia Game
    </button>

    <Question
      v-if="start_game"
      v-bind:questionPassed="questions[currQuestion]"
      v-on:return-result="getAnswerFromChild"
    />

    <div v-if="completed_game" class="contaioner">
      <div class="card">
        <div class="card-header" >
          <H1
            >Congratulations, you scored {{ this.score }} points out of
            {{ this.numberOfQuestions * 10 }}</H1
          >
          <div class="row">
            <div class="col">
              <H3>Question</H3>
            </div>
            <div class="col">
              <H3>Your Answer</H3>
            </div>
            <div class="col">
              <H3>Correct Answer</H3>
            </div>
          </div>

        </div>

          <div class="card-body" >
            <div
              v-for="(question, index) in questions"
              v-bind:key="index"
              class="container"
            >
              <div class="row">
                <div class="col">
                  <p v-html="question.question"></p>
                </div>

                <div class="col">
                  <p>{{userAnswers[index]}}</p>
                </div>

                <div class="col">
                  <p v-html="question.correct_answer"></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Question from "./components/Question";

export default {
  name: "app",
  components: {
    Question,
  },

  data() {
    return {
      currQuestion: 0,
      numberOfQuestions: 0,
      score: 0,
      questions: [],
      userAnswers: [],
      start_game: false,
      completed_game: false,
    };
  },

  methods: {
    startGame() {
      this.resetGame();
      this.getQuestions();
      this.start_game = true;
    },
    resetGame() {
      this.completed_game = false;
      this.score = 0;
      this.currQuestion = 0;
    },
    getAnswerFromChild(wasAnswerCorrect, userAnswer) {
      this.saveAnswer(userAnswer);
      this.updateScore(wasAnswerCorrect);

      if (this.currQuestion == this.numberOfQuestions - 1) {
        this.start_game = false;
        this.completed_game = true;
        console.log(this.userAnswers)
        return;
      }
      this.nextQuestion();
    },
    updateScore(wasAnswerCorrect) {
      if (wasAnswerCorrect) {
        this.score += 10;
      }
    },
    nextQuestion() {
      this.currQuestion++;
    },
    saveAnswer(userAnswer) {
      this.userAnswers.push(userAnswer);
    },

    getQuestions() {
      axios
        .get("https://opentdb.com/api.php?amount=10")
        .then((res) => {
          this.questions = res.data.results;
          this.numberOfQuestions = res.data.results.length;
        })
        .catch((err) => console.log(err));
    },
  },

  created() {
    this.getQuestions();
  },
};
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.buttonSpecs {
  font-size: 50px;
  text-align: center;
  width: 500px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
</style>
